.forecast-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
  background-color: rgba(31, 31, 31, 0.7);
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 700;

  img {
    width: 5rem;
    height: 5rem;
  }
}
