.App {
  display: grid;
  justify-items: center;
  gap: 15vh;
}

.search-container {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5rem;
  right: 0;
  margin: 1rem;
  background: rgba(160, 160, 160, 0.7);
  padding: 0.5rem;
  border-radius: 4px;

  input {
    border: none;
    color: #fff;
    font-weight: 700;
    background-color: transparent;

    &::placeholder {
      color: #fff;
    }

    &:focus-visible {
      outline: transparent;
    }
  }

  img {
    width: 1rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.15);
    }
  }

  button {
    display: none;
  }

  .error {
    visibility: hidden;
    position: absolute;
    bottom: -0.25rem;
    transform: translateY(100%);
    color: white;
    font-size: 0.85rem;
  }

  .visible {
    visibility: visible;
  }
}
